<mat-toolbar class="button-row" color="primary">
  <span> Hamilton Mercado Cuellar</span>
  <a mat-button routerLink="/" aria-labelledby="menu">{{ title }}</a>
  <a mat-button routerLink="about" routerLinkActive="router-link-active" aria-labelledby="menu"
    >About us</a
  >
  <a
    mat-button
    routerLink="register"
    routerLinkActive="router-link-active"
    aria-labelledby="menu"
    >register</a
  >
  <a mat-button routerLink="login" routerLinkActive="router-link-active" aria-labelledby="menu"
    >Login</a
  >
</mat-toolbar>
